main {
    display: flex;
    flex-direction: column;
}

main h2, pre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

main h2 {
    font-size: 40px;
    margin-left: 3rem;
}

main pre {
    font-size: 20px;
}